div {
  .formContainer {
    .formInput {
      form {
        input {
          height: 3rem;
          width: 60vw;
          font-size: 2.5rem;
        }
      }
      button {
        height: 3rem;
        width: 5rem;
        margin-top: 2rem;
      }
    }
  }
}
