nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: black;
  position: sticky;
  a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 2.5rem;
    color: white;
    padding: 1rem;

    &:hover {
      color: green;
    }
  }
}
